<footer>
    <nav>
        {% if show_home %}
            <li><a href="/">Home</a>
        {% endif %}
        <li><a href="/galaxies">Galaxies</a>
        <li><a href="/planets">Planets</a>
        <li><a href="/stars">Stars</a>
    </nav>
</footer>